:root{
    --primario: #006D4E;
    --primario-green: #4ED176;
    --secundario-blue: #079DEF;
    --secundario-btn: #52DEFF;
    --secundario-164c: #FF7150;
    --btn: #6c757d;
    --font-family-circular-Book: 'CircularXX-Book';
    --font-family-circular: 'CircularXX-Regular';
    --font-family-circular-Thin: 'CircularXX-Thin';
}
/*----Tipografia-----*/
@font-face {
    font-family: 'CircularXX-Book';
    src: url('/fonts/CircularXX-Book.otf') format('opentype'),
        url('/fonts/CircularXX-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CircularXX-Regular';
    src: url('/fonts/CircularXX-Regular.otf') format('opentype'),
        url('/fonts/CircularXX-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CircularXX-Thin';
    src: url('/fonts/CircularXX-Thin.otf') format('opentype'),
        url('/fonts/CircularXX-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: Thin;
    font-display: swap;
}


body{
    background: #FAFBFB;
    font-family: var(--font-family-circular-Book);
}
h3{
    color: var(--primario-green);
    font-weight: 700;
    font-size: 18px;
}
/*--------NAV-BAR---------------*/
#side_nav{
    background-color: var(--primario);
    min-width: 105px;
    max-width: 105px;transition: all 0.3s ease;
    height: 100%;
    position: fixed;
}
#side_nav:hover{
    background-color: var(--primario);
    min-width: 220px;
    max-width: 220px;
    transition: all 0.3s ease-in-out;
}
#side_nav:hover ~ .content{
    width: calc(100% - 220px);
    left: 222px;
    transition: all 0.3s ease;
}
.logo-w{
    height: 25px;
    margin-left: 10px;
}
#side_nav:hover .logo-w{
    height: 45px;
    margin-left: 25px;
    transition: all 0.3s ease-in-out;
}
.content{
    min-height: 100vh;
    width: 100%;
    background-color: #f1f4ff;
    position: absolute;
    left: 105px;
    width: calc(100% - 105px);
    transition: all 0.3s ease;
}
hr.h-color{
    background-attachment: white;
}

.sidebar li.active{
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 25px;
}

.sidebar li.active a, .sidebar li.active a:hover{
    color: var(--primario);
}
.nav-link{
    font-size: 14px;
}
.nav-link:hover{
    background-color: #fff;
    border-radius: 8px;
}
.list-unstyled{
    margin-top: 32px;
}
/*-Hover menu-*/
.link-menu-dos {
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
.link-menu-dos:hover {
    color: var(--primario);
    box-shadow: inset 200px 0 0 0 white;
    border-radius: 4px;
}
.icon{
    min-width: 30px;
    border-radius: 6px;
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: var(--primario);
    margin-left: 16px;
}
#side_nav:hover .list-unstyled .nav-link .icon{
    font-size: 22px;
    margin-left: -6px;
}
.ico-menu{
    width: 14px;
    margin-right: 9px;
}
.ico-menu:hover{
    width: 50px;
    margin-right: 9px;
}
.texto-menu{
    visibility: hidden;
}
.texto-menu:hover{
    visibility: visible;
}
#side_nav:hover .list-unstyled .nav-link .text-menu{
    display: flex;
}
#side_nav .list-unstyled .nav-link .text-menu{
    display: none;
}
#side_nav:hover .list-unstyled .nav-link .ico-menu{
    width: 14px;
    margin-left: 8px;
}
#side_nav .list-unstyled .nav-link .ico-menu{
    width: 24px;
    margin-left: 15px;
}


/*-Fin Hover menu-*/
.sidebar li a{
    color: white;
    font-weight: 600;
}
.sidebar li a:hover{
    color: var(--primario);
}
.cerrarSesion:hover{
    color: var(--primario);
    font-weight: 600;
}
.Cerrar-sesion{
    margin-top: 300px;
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.Cerrar-sesion:hover{
    background-color: white;
    border-radius: 9px;
    color: #006D4E;
    height: 40px;
}
li{
    margin-bottom: 25px;
}
.nav-link.active{
    color: #079DEF;
}
.nav-link:hover{
    color: #52DEFF;
}
/*-----Fin menu-----*/
/*--------Conten-------*/
.fondo{
    background-color: white;
    margin: 2px 35px 18px 45px;
    border-radius: 6px;
    height: 500px;
}
.fondo-full{
    background-color: white;
    margin: 2px 35px 18px 45px;
    border-radius: 6px;
}
li.a:hover{
    color: #006D4E;
}
#header-nav{
    background-color: white;
    height: 55px;
    box-shadow: 3px 1px 9px #e9e9e9;
}
.header-sub{
    margin-top: 18px;
    margin-bottom: 2px;
    height: 45px;
}
.tap-content{
    margin-bottom: 35px;
}
.ico-busacar{
    width: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 13px;
}
.input-group-text{
    border: none;
    background-color: #F0F2F6;
}
.ico-filtro{
    width: 20px;
}
h2{
    font-size: 18px;
    margin: 0px;
}
.contenido{
    margin: 18px;
    padding: 12px
}
.btn-exportar-al{
    text-align: end;
}
.form-bg{
    background-color: #F0F2F6;
    border-color: #F0F2F6;
    border-radius: 30px;
}
.form-bg-filtro{
    background-color: #F0F2F6;
    border-color: #F0F2F6;
    color: #006D4E;
}
.mg-none{
    margin: 0px;
    padding: 0px;
}
.mg-right{
    margin-right: 26px;
}
.mg-link{
    margin-left: 65px;
    margin-top: 55px;
    margin-bottom: -20px;
}
/*------Header-------*/
.ico-perfil{
    width: 32px;
    margin-right: 12px;
}
.header-nombre{
    margin: auto;
    color: var(--primario);
    font-size: 13px;
}
.mg-sub-menu{
    margin-bottom: 0px !important;
}
.btn-outline-primary{
    color: black;
    border-color: var(--secundario-blue);
}
.btn-outline-primary:hover{
    background-color: var(--secundario-blue);
    border-color: var(--secundario-blue);
    color: white;
}
.ico-exportar{
    width: 20px;
}
.nav-link-casos{
    color: #859394;
}
.nav-link-casos:hover{
    color: #4ED176;
}
.nav-pills .nav-link.active{
    color: var(--primario);
    font-weight: 600;
    text-decoration: 4px underline var(--primario-green);
    background-color: #f1f4ff !important;
    font-size: 16px;
}
.nav-pills .nav-link{
    font-size: 16px;
}
.sub-texto{
    padding-left: 32px !important;
}
/*--Paginacion-*/
.page-link{
    color: black;
    margin-top: 54px;
    margin-top: 0px;
    border: none;
    font-family: var(--font-family-circular-Thin);
}
#page-link-active{
    background-color: var(--primario);
    color: white;
    font-family: var(--font-family-circular-Book);
}
.ico-paginacion{
    width: 10px;
}
.rotate{
    transform: rotate(-180deg);
}
.navigation{
    margin-right: 35px;
    margin-top: 0px;
}
.page-ico{
    background-color: var(--primario-green);
    color: white;
}
.page-ico:hover{
    background-color: var(--primario);
    color: white;
}
.page-link:hover{
    color: var(--primario);
    font-weight: 600;
    background-color: white;
}

.page-ico:target{
    background-color: var(--primario);
    color: white;
}

th{
    border-style:0px;
    border: none;
    color: var(--primario);
    padding-left: 15px !important;
}
td{
    color: var(--primario);
    font-size: 14px;
    text-align: center;
}
/* tbody{
    text-align: center;
} */

/*-----Cotizacion-----*/

.btn-cotizar{
    background-color: var(--secundario-blue);
    color: white;
    width: 200px;
    border-radius: 8px;
    border-color: var(--secundario-blue);
    box-shadow: none;
    margin-top: 30px;
}
.detalle-caso{
    color: var(--primario);
    font-size: 14px;
    font-family: var(--font-family-circular);
}
.detalle-caso-header{
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-family-circular-Book);
}
.form-label{
    color: var(--primario) !important;
}

/*-----MQ----*/

@media (max-width: 768px) {
    .fondo{height: auto;}
} 
@media (max-width: 992px) {
    .fondo{height: auto;}
} 