:root{
    --primario: #006D4E;
    --primario-green: #4ED176;
    --secundario-blue: #079DEF;
    --secundario-btn: #52DEFF;
    --secundario-164c: #FF7150;
    --btn: #6c757d;
    --font-family-circular-Book: 'CircularXX-Book';
    --font-family-circular: 'CircularXX-Regular';
    --font-family-circular-Thin: 'CircularXX-Thin';
}
body{
    font-family: var(--font-family-circular);
}
.titulo-generales{
    color: var(--primario);
    font-family: var(--font-family-circular-Book);
    font-size: 22px;
}
.subtitulo-perfil{
    background-color: var(--primario-green);
    color: white;
    text-align: center;
    height: 30px;
    margin-top: 25px;
    align-items: center;
    display: grid;
}
.btn-actualizar{
    background-color: var(--secundario-blue);
    color: white;
    width: 200px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    height: 30px;
    display: grid;
    align-items: center;
}
.header-img{
    margin: 30px 0px 20px 0px;
}
.subirImg{
    padding: 5px 10px;
    background: white;
    color: var(--secundario-blue);
    border:1px solid var(--secundario-blue);
    border-radius: 5px;
    width: 200px;
    text-align: center;
  }
  .subirImg:hover{
      color:#fff;
      background: var(--secundario-blue);
  }
  .txt-subir-img{
    color: var(--primario);
    font-weight: 200;
    font-size: 14px;
    margin-top: 10px;
  }
.buscador{
    background-color: white;
    border-color: var(--primario-green);
    border-radius: 30px;
}
i{
    color: var(--btn);
    font-weight: 600;
}
.reporte-tabla{
    text-align: center;
    margin: 16px;
}
.reporte-tabla .col-2{
    color: var(--primario);
    font-family: var(--font-family-circular-Book);
    font-weight: 600;
}.reporte-tabla .col-3{
    color: var(--primario);
    font-family: var(--font-family-circular-Book);
    font-weight: 600;
    margin-bottom: 16px;
}
.page-perfil{
    margin-right: 20px;
    background-color: #E5E5E5;
}

#side_nav .list-unstyled .nav-link .iconw{
    color: white;
    font-size: 25px;
    margin-left: 13px;
}
#side_nav:hover .list-unstyled .nav-link .iconw{
    color: white;
    margin-left: 0px;
}
.nav-link:hover .iconw{
    color: #006D4E !important;
}.nav-link:hover .text-menu{
    color: #006D4E !important;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: var(--primario);
}
/*-----Reportes------*/
.sin-resultado{
    color: var(--secundario-164c);
    font-weight: 800;
    font-family: var(--font-family-circular-Book);
    font-size: 18px;
}
/*Registro*/
.btn-registro{
    background-color: var(--secundario-blue);
    color: white;
    width: 180px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    height: 30px;
    display: grid;
    align-items: center;
}
.btn-registro:hover{
    color: white;
}
h4{
    color: var(--btn);
    font-size: 22px;
    text-align: center;
    background-color:#F2F4FE;
}

/*-----Faqs-----*/
.bg-w{
    background-color: white;
    margin-right: 25px;
    border-radius: 12px;

}
.fondo-w{
    margin: 2px 35px 18px 45px;
    border-radius: 6px;
}
.accordion-item:not(:first-of-type){
    margin-top: 9px;
}
.accordion-button:not(.collapsed){
    background-color: white;
    color: black;
    font-weight: 800;
}
.titulo-3{
    color: var(--primario) !important;
    margin-top: 16px;
    font-family: var(--font-family-circular-Book);
}
.accordion-item{
    border-radius: 13px !important;
    border-color: none !important;
}
.accordion-button{
    border-radius: 13px;
    border-color: none;
    color: var(--primario) !important;
}

.accordion-button:not(.collapsed)::after{
    background-image: url(/img/collapsable.png);
    transform: rotate(0);
}